@font-face {
  font-family: 'icomoon';
  src: url('theme/fonts/icomoon.ttf?iblfx4') format('truetype'), url('theme/fonts/icomoon.woff?iblfx4') format('woff'), url('theme/fonts/icomoon.svg?iblfx4#icommon') format('svg');
  font-weight: normal;
  font-style: normal;
}
