$icon-radio-checked: "\e838";
$icon-radio-unchecked: "\e837";
$icon-checkbox-checked: "\e834";
$icon-checkbox-unchecked: "\e835";
$icon-checkbox-indeterminate: "\e909";
$icon-caretdown: "\e606";
$icon-pencil: "\e907";
$icon-settings: "\e90a";
$icon-loading: "\e64d";
$icon-loading1: "\e6ae";
